{% extends 'base.html' %}
{% block title %}
    Show Project
{% endblock title %}
{% load static %}
{% block content %}
<main>
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        {% if show_project.tasks.exists %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                {% for task in show_project.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
